<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Tabela Periódica</title>
        <link rel="icon" href="{{ url_for('static', filename="favicon.png") }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename="styles/w3.css") }}"/>
    </header>
    <body>
        <p>Base de dados fora de serviço!!!</p>
        </div>
             <footer class="w3-container w3-blue">
                <h5>Gerado por RPCW2024 em {{data.data}}</h5>
            </footer>
        </div>
    </body>
</html>