<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Tabela Periódica</title>
        <link rel="icon" href="{{ url_for('static', filename="favicon.png") }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename="styles/w3.css") }}"/>
    </header>
    <body>
        <div class="w3-card-4">

            <header class="w3-container w3-blue">
                <h1>Tabela Periódica: {{nome}}</h1>  
            </header>

            <div class="w3-container">
                <table class="w3-table-all">
                    <tbody>
                        <tr>
                            <th>Elementos</th>
                        </tr>
                        {% for elem in data %}
                            <tr>
                                <td><a href="/elementos/{{ elem.elemento_nome.value }}">{{ elem.elemento_nome.value }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                    
                </table>
            </div>
             <footer class="w3-container w3-blue">
                <h5>Gerado por RPCW2024 em {{data.data}}</h5>
            </footer>
        </div>
    </body>
</html>