<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Tabela Periódica: Elementos</title>
        <link rel="icon" href="{{ url_for('static', filename="favicon.png") }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename="styles/w3.css") }}"/>
    </head>
    <body>
        <div class="w3-card-4">
    
            <header class="w3-container w3-blue">
                <h1>Tabela Periódica: Grupos</h1>  
            </header>
    
            <div class="w3-container">
                <table class="w3-table-all">
                    <tbody>
                        <tr>
                            <th>Grupo</th>
                        </tr>
                        {% for elem in data %}
                            <tr>
                                {% set grupo = elem.grupos.value.split('#')[-1] %}
                                <td><a href="/grupos/{{ grupo }}">{{ grupo }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <footer class="w3-container w3-blue">
                <h5>Gerado por RPCW2024</h5>
            </footer>
        </div>
    </body>
</html>
